<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
  <% @records.each do |highlight| %>
    <div>
      <video controls class="border rounded-lg">
        <source src=<%= highlight.default_playback["url"] %> type="video/mp4">
      </video>
      <div class="text-xs mt-1 font-semibold flex items-center">
        <span class="inline-block mr-1"><img height="32px" width="32px" src=<%= highlight.team.logo_url %> alt=""></span>
        <span class="inline-block mt-1"><%= highlight.player.full_name %> (<%= format_position(highlight.player.position) %>)</span>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-8">
  <%== pagy_nav(@pagy) %>
</div>
